.contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;

  &-title {
    margin-bottom: 50px;
    span {
      color: #ffcc00;
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    &-btn {
      width: 100%;
      text-align: center;
      & button {
        background: transparent;
        border: 2px solid #fff;
        border-radius: 2px;
        font-size: 20px;
        width: 50%;
        height: 50px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        transition: .3s all;
        cursor: pointer;
        &:hover {
          color: black;
          background: #fff;
        }
        &:disabled {
          pointer-events: none;
          opacity: .1;
        }
      }
    }
  }
  .status-messsage {
    position: absolute;
    bottom: -30px;
    animation: notification 0s 3s forwards;
  }
  .error-message {
    color: red;
  }
  .success-message {
    color: green;
  }
}

@keyframes notification {
  0% {
    opacity: 1;
    pointer-events: auto;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
